@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar in WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox/IE */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: url('/images/background/bg-layer-1.png') no-repeat center center fixed;
  background-size: cover;
}
